/* base.css */

body {
  font-family: var(--fonte-principal);
  color: #333333;
  background-color:#ffffff;
}

main{
  padding: 2.5rem 2.5rem 0 2.5rem;
  max-width: 1360px;
  margin: 0 auto;
  margin-bottom: 40px;
}