/* base.css */

body {
  font-family: var(--fonte-principal);
  color: #333333;
  background-color:#ffffff;
}

main{
  padding: 2.5rem 2.5rem 0 2.5rem;
  max-width: 1360px;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media (max-width:1280px) {
  main{
    padding: 0.625rem;
  }
  
}

.btn {
   padding: 10px 40px;
   border: 1px solid white;
   border-radius: 15px;
   font-size: 1.25rem;
   font-weight: 400;
   color: white;
}

.btn-outline:hover {
    color: #7c3aed;
    border-color: #7c3aed;
    background-color: #ffffff;
}