/* footer.css */

.site-footer {
  background: #333333;
  color: #ffffff;
  padding: 2.5rem 0 1.25rem;
}

.footer-content {
    max-width: 85rem;
    margin: 0 auto;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.footer-nav ul{
    display: flex;
    gap: 1.25rem;
}

.footer-nav ul ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
}

.footer-nav strong {
    color: #ededed;
    font-size: 1.25rem;
    font-weight: 400;
    display: block;
    margin-bottom: 1rem;
}

.footer-nav li {
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 500;
}

.footer-nav li a:hover {
    text-decoration: underline;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
}

.newsletter-form input {
    border: none;
    border-radius: 1.875rem;
    color: #aaaaaa;
    padding: 0.75rem 1.25rem;
    width: 21.5rem;
}

.footer-social span {
    display: block;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.footer-social ul{
    display: flex;
    gap: 1.25rem;
}

.footer-social li a:hover img{
    opacity: 0.7;
}

.footer-copyright {
    font-size: 1.25rem;
    padding: 1.25rem 0;
    text-align: center;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2.5rem;
    }

    .footer-left {
        align-items: center;
    }

    .footer-nav ul {
        flex-direction: column;
    }

    .footer-nav ul > li {
        padding-bottom: 1rem;
    }

    .footer-nav ul ul {
        align-items: center;
    }
}