/* header.css */

.header {
    background-color: #ffffff;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 210px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
}

.logo img {
    height: 40px;
}
.menu-center ul {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    font-size: 1.25rem;
    font-weight: 400;
}

.menu-secundario ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 400;
}

.menu-secundario img {
    height: 20px;
}

.menu-center a:hover, .menu-secundario a:hover {
    color: #7c3aed
}
.menu-secundario img:hover {
    transform: scale(1.1);
}