/* header.css */

.header {
    background-color: #ffffff;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 210px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
}

.logo img {
    height: 40px;
}
.menu-center ul {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    font-size: 1.25rem;
    font-weight: 400;
}

.menu-secundario ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 400;
}

.menu-secundario img {
    height: 20px;
}

.menu-center a:hover, .menu-secundario a:hover {
    color: #7c3aed
}
.menu-secundario img:hover {
    transform: scale(1.1);
}

.nav-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1001;
}

.menu-icon img {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.menu-icon:hover img {
    opacity: 0.7;
}

@media (max-width: 1280px) {
    .header {
        width: calc(100% - 40px);
    }

    .menu-icon {
        display: block;
        /* width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 1001; */
    }

    .nav-container {
        position: fixed;
        top:0;
        right:-100%;
        width: 12.5rem;
        flex-direction: column;
        padding: 80px 20px 20px;
        background-color: #ffffff;
        gap: 2rem;
        transition: right 0.3s ease;
        align-items: flex-start;
    }

    .nav-center, nav.menu-secundario {
        width: 100%;
        text-align: center;
    }
    
    .nav-center li, nav.menu-secundario li {
        width: 100%;
        text-align: center;
    }

    .menu-center ul, .menu-secundario ul {
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
    }

    .nav-center a, .menu-secundario a {
        width: 100%;
        border-bottom: 1px solid #eeeeee;
        padding: 0.3rem 0;
        font-size: 1rem;
        display: block;
    }

    .menu-toggle:checked ~ .nav-container {
        right: 0;
    }

}