/* header.css */

.header {
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    width: calc(100% - 40px);
    margin: 20px;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
}
.menu-center ul {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    font-size: 1.25rem;
    font-weight: 400;
}

.menu-secundario ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 400;
}

.menu-secundario img {
    height: 20px;
}

.menu-center a:hover, .menu-secundario a:hover {
    color: #7c3aed
}
.menu-secundario img:hover {
    transform: scale(1.1);
}