/* hero.css */
.hero-section {
    background: url(/images/banners/hero.jpg) no-repeat center/cover;
    height: 31.25rem;
    max-width: 80.625rem;
    position: relative;
    border-radius: 0.9375rem;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 6rem;
}

.hero-title .hero-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
}

@media (max-width: 768px) {
    .hero-section {
        height: 41.875rem;
        max-width: 24.375rem;
    }

    .hero-overlay {
        justify-content: center;
        padding: 0 2rem;
    }

    .hero-title .hero-subtitle {
        font-size: 1rem;
        text-align: center;
    }
}