/* hero.css */
.hero-section {
    background: url(/images/banners/hero.jpg) no-repeat center/cover;
    height: 31.25rem;
    max-width: 85rem;
   
    border-radius: 0.9375rem;
}

.hero-content {
    position: relative;
    top: 13.125rem;
    height: 18.75rem;
    width: calc(100% - 1rem);
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
}

.hero-overlay {
    position: absolute;
    width: 390px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    justify-content:center;
    margin-right: 6.25rem;
    margin-bottom: 6.25rem;
}

.hero-subtitle {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    color: #ededed;
}
.hero-title {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    color: #ededed;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

@media (max-width: 768px) {
    .hero-section {
        height: 41.375rem;
        min-width: 24.375rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-content {
        display: flex;
        justify-content: center;
    }
    .hero-overlay {
        margin: 0;
        width: 24.375rem;
        height: auto;
        gap: 1.5rem;
    }

    .hero-title .hero-subtitle {
        font-size: 1rem;
        text-align: center;
    }
}