/* product-category.css */

.categories-section {
   background-color:#ffffff;
   padding-top: 40px;
   padding-bottom: 40px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 30px;
}

.category-cards {
    width: 300px;
    height: 500px;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-name {
   padding: 10px 40px;
   border: 1px solid #ffffff;
   border-radius: 15px;
   font-size: 1.25rem;
   font-weight: 400;
   color: #ffffff;
}

.casual {
       background: url('../../images/products/casual.jpg') no-repeat center/cover;
}

.esporte {
   background: url('../../images/products/esporte.jpg') no-repeat center/cover;
}

.moderno {
   background: url('../../images/products/moderno.jpg') no-repeat center/cover;
}

.futurista {
    background: url('../../images/products/futurista.jpg') no-repeat center/cover;
}

.btn-outline:hover {
    color: #ffffff;
    border-color: #7c3aed;
    background-color: #7c3aed;
}