/* product-grid.css */

.highlight {
    grid-area: highlight;
    background-image: url(../../images/products/highlight.jpg);
}

.sneaker-purple {
    grid-area: sneaker-purple;
    background-image: url(../../images/products/sneaker-purple.jpg);
}

.model {
    grid-area: model;
    background-image: url(../../images/products/model.jpg);
}

.sneaker-color {
    grid-area: sneaker-color;
    background-image: url(../../images/products/sneaker-color.jpg);
}

.sneaker-white {
    grid-area: sneaker-white;
    background-image: url(../../images/products/sneaker-white.jpg);
}

.sneaker-silver {
    grid-area: sneaker-silver;
    background-image: url(../../images/products/sneaker-silver.jpg);
}

.card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        "highlight highlight sneaker-purple sneaker-purple"
        "highlight highlight model sneaker-color"
        "sneaker-white sneaker-white model sneaker-silver";
    gap: 20px;
    margin-top: 20px;
    position: relative;
}

.grid-section .highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top1-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title {
    color: #EDEDED;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.card-subtitle {
    color: #EDEDED;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.cta-group {
    display: flex;
    gap: 10px;
}

@media (max-width: 1343px) {
    .grid-section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 300px);
        grid-template-areas:
            "highlight highlight"
            "sneaker-white sneaker-white"
            "model sneaker-color"
            "model sneaker-silver"
            "sneaker-purple sneaker-purple";
    }
}