/* product-category.css */

.categories-section {
   background-color: lightgreen;
   padding-top: 40px;
   padding-bottom: 40px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 30px;
}

.category-cards {
    width: 300px;
    height: 500px;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-name {
   padding: 10px 40px;
   border: 1px solid white;
   border-radius: 15px;
   font-size: 1.25rem;
   font-weight: 400;
   color: white;
}

.casual {
    background-image: url('/images/products/casual.jpg');background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.esporte {
  background-image: url('/images/products/esporte.jpg');background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.moderno {
   background-image: url('/images/products/moderno.jpg');background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.futurista {
    background-image: url('/images/products/futurista.jpg');background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-outline:hover {
    color: #ffffff;
    border-color: #7c3aed;
    background-color: #7c3aed;
}
